<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <title>確認課題2</title>
  </head>

  <body>
  <h1>ようこそ<strong>Bookers</strong>へ！</h1>
  <p><strong>Bookers</strong>では、書籍に関する様々な意見や</p>
  <p>印象を共有し交換することができます</p>
  <p><a href="/books">start</p>


 </body>
</html>